$name: 'avatar';

.#{$name} {
    width: 24px;
    height: 24px;
    position: relative;
}

// scaffloding
// =====

.#{$name} {
    &-img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
